<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoanPay</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <%- include("./includes/navbar.ejs") %>
        <div class="section1">

        </div>
        <div class="section2">
            <h3>our supports are:-</h3>
            <ul>
                <li>Rohan Sharma(Bilari)</li>
                <li>Yuvraj kumar(Bilari)</li>
                <li>chote pandey(Bilari)</li>
            </ul>
        </div>



</body>

</html>